// auto calculate all headings
for x in 1..6
    {'h' + x}
        font-size unit(round(($ratio-major-second ** (6 - x)), 2), 'rem')

h1, h2, h3, h4, h5, h6
    font-weight 500
    line-height 1.2
    margin .75rem 0

p
    line-height 1.4em

ul > li
    list-style-type circle
