// auto calculate all headings
for x in 1..6
    {'h' + x}
        font-size unit(1 + .6 * (6 - x), 'rem')

h1, h2, h3, h4, h5, h6
    line-height 1.2
    margin .75rem 0

ul > li
    list-style-type circle
