generateFlexGrid($name = 'sm', $columns = 12)
    $classSelector = \' + 'flex-' + $name + \'
    [class*={$classSelector}]
        padding 0 10px
    for $x in 1..$columns
        .flex-{$name}-{$x}
            flex 0 0 round(1% * (($x / $columns) * 100), 2)
    .flex-{$name}-right
        justify-content flex-end
    .flex-{$name}-center
        justify-content center
    .flex-{$name}-middle
        align-items center

.flex-row
    display flex
    flex-wrap wrap
    margin 0 auto
    max-width $large-screen

// automatically calculate size (can be overwritten by any classes below this)
.flex-auto
    flex 1
    padding 0 10px

// TODO: Add column layouts

// for small screens/default size
generateFlexGrid('sm', $columns)

// for medium sized screens
@media (min-width $medium-screen)
    generateFlexGrid('md', $columns)

// for larger screens
@media (min-width $large-screen)
    generateFlexGrid('lg', $columns)
