.form-group
    // global rules
    button, input, optgroup, select, textarea
        font inherit
        letter-spacing .01em
        &:focus
            outline: 0

    // all inputs that are within a standard box
    input[type=date], input[type=datetime], input[type=datetime-local], input[type=email],
    input[type=month], input[type=number], input[type=password], input[type=tel],
    input[type=text], input[type=time], input[type=url], input[type=week]
        border 1px solid #aaaaaa
        border-radius 1px
        padding .75em 1em

    // button
    button, input[type=button], input[type=submit], input[type=reset]
        padding .75em 1em
        border-radius 1px
        border 0
        background-color $base-color
        color #eee
        transition background-color .25s ease-out

        &:hover
            background-color $base-color-dark
            cursor pointer

    // checkbox
    // color
    // date
    // datetime
    // datetime-local
    // email
    // file
    // hidden
    // image
    // month
    // number
    // password
    // radio
    // range
    // reset
    // search
    // submit
    // tel
    // text
    // time
    // url
    // week