generateFloatGrid($name = 'sm', $columns = 12)
    $pushes = $columns - 1
    for $x in 1..$columns
        .col-{$name}-{$x}
            width round(1% * (($x / $columns) * 100), 2)
    for $x in 1..$pushes
        .push-{$name}-{$x}
            margin-left round(1% * (($x / $columns) * 100), 2)

.row
    margin 0 auto
    max-width $large-screen
    overflow hidden
    width 100%
    &:after
        clear both
        content ''
        display table

// all 'col-' should have this applied to them, no matter the size
[class*='col-']
    float left
    min-height 1px
    padding 0 10px

// for small screens
generateFloatGrid('sm', $columns)

// for medium sized screens
@media (min-width $medium-screen)
    generateFloatGrid('md', $columns)

// for larger screens
@media (min-width $large-screen)
    generateFloatGrid('lg', $columns)
