$pushes = $rows - 1

.row
    margin 0 auto
    max-width $desktop-width
    min-width $mobile-width - 1
    overflow hidden
    padding 5px 10px
    width 100%
    &:after
        clear both
        content ""
        display table

[class*='col-']
    float left
    min-height 1px
    padding 0 5px

// generate grid
for x in 1..$rows
    .col-{x}-12
        width unit(round(((x)/12)*100, 2), '%')

// generate push
for x in 1..$pushes
    .push-{x}-12
        margin-left unit(round(((x)/12)*100, 2), '%')

// mobile
@media handheld, only screen and (max-width: $mobile-width)
    .row
        margin-left 0
        margin-right 0
        min-width 0
        padding 0 5px
        width 100%
    [class*='col-']
        float none
        margin 0 0 10px 0
        padding 0
        width auto
    [class*='col-sm-']
        float left
        margin 0 0 10px
        padding 0 10px
    for x in 1..12
        .col-sm-{x}-12
            width unit(round(((x)/12)*100, 2), '%')
