// grid variables
$desktop-width = 1200px
$mobile-width = 768px
$rows = 12

// base colors
$base-color = #047DDA
$base-color-dark = darken($base-color, 15%)
$base-color-light = lighten($base-color, 15%)
$danger-color = #FF0000
$danger-color-dark = darken($danger-color, 15%)
$warning-color = #FFCA00
$warning-color-dark = darken($warning-color, 15%)