// grid variables
$small-screen = 768px
$medium-screen = 960px
$large-screen = 1200px
$columns = 12

// base colors
$base-color = #047DDA
$base-color-dark = darken($base-color, 15%)
$base-color-light = lighten($base-color, 15%)
$danger-color = #FF0000
$danger-color-dark = darken($danger-color, 15%)
$warning-color = #FFCA00
$warning-color-dark = darken($warning-color, 15%)
$success-color = #04DA3A
$success-color-dark = darken($success-color, 15%)

// grays
$5-gray = darken(#fff, 5%)
$10-gray = darken(#fff, 10%)
$15-gray = darken(#fff, 15%)
$25-gray = darken(#fff, 25%)
$30-gray = darken(#fff, 30%)
$50-gray = darken(#fff, 50%)

// button colors
$button-gray = #eee

// typography settings
$base-font-size = 16px
$ratio-minor-second = 16 / 15
$ratio-major-second = 9 / 8
