// grid variables
$desktop-width = 1200px
$mobile-width = 768px
$rows = 12

// base colors
$base-color = #047DDA
$base-color-dark = darken($base-color, 15%)
$base-color-light = lighten($base-color, 15%)